<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hours" value="8" />
    <add key="index" value="20.8" />
    <add key="best" value="3"/>
    <add key="worst" value="2"/>
    <add key="filePath" value="C:\Users\Дима\Documents\GitHub\C_sharp\ProjectOne\ConsoleApplication1\ConsoleApplication1"/>
    <add key="fileName" value="workers.azat"/>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>